:host {
    small {
        font-size: .75em;
        text-align: left;
        width: 100%;
        position: relative;
        display: block;
        margin-top: 0.35rem;
        color: red;
    }

    .ng-invalid.ng-touched {
        border-color: red;
    }

    .form-label {
        font-size: 1rem;
    }
}

:host ::ng-deep {
    app-camera-capture {
        width: 175px;
    }

    .div-btn {
        z-index: 9999;
        display: block;
    }

    .btn-div {
        .iniciar {
            width: 90%;
            height: 70px;
            font-size: 0.65em;
        }

        .filho {
            flex-basis: 50%; 
            flex-grow: 1;
        }

        .filho-2 {
            // z-index: 9999;
            button {
                display: block;
            }
        }
        app-camera-capture {
            button {
                display: block;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .div-btn {
            z-index: 9999;
            display: block;
        }
        
        .btn-div {
            .iniciar {
                width: 50%;
                height: 70px;
                font-size: 1em;
            }
    
            .filho {
                flex-basis: 50%; 
                flex-grow: 1;
            }

            .filho-1 {
                text-align: right;
                small {
                    text-align: center;
                }
            }

            .filho-2 {
                text-align: left;
                // z-index: 9999;
                small {
                    text-align: left;
                    margin-left: 0 !important;
                }
                button {
                    display: block;
                }
            }
            app-camera-capture {
                button {
                    display: block;
                }
            }
        }
    }
}

.required-sign {
    color: red;
}

.form-label {
    font-size: 0.8rem;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
}

input {
    max-width: 100% !important;
}



input.read-only:disabled {
    
}


// input.ng-invalid {
//     border: solid rgb(13, 91, 186);
// }